.setval{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        margin: 5px 20px 0px 20px;
    }
}

.check{
    padding: 30px;
    text-align: center; 
    color: purple;
}
.set-btn{
    text-align: center;
    color: violet;
}