.email{
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newpass{
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}