//common background colour variables

$color_1: #979797;
$color_2: #000;
$color_3: #ffffff;
$color_4: #1D7874;

$background-color_1: #ffffff;
$background-color_2: aliceblue;
$background-color_3: #d9d9d9;
$background-color_4: #466cd3;
$background-color_5: #f2f2f2;

$border-color_1: grey;

//form colour variables

$color_1_form: rgba(0, 0, 0, 0.85);
$background-color_1_form: white;
$background-color_2_form: #f3f3f3;
$background-color_3_form: #dee2e6;
$background-color_4_form: rgb(214, 214, 214);