button{
    color: white;
    background-image: #6f61b5;
    margin-left: 50px;
}
button:hover{
    color: black;
    background-color: #6f61b5;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}