button{
    background-color: #7f5aaa;
    color: white;
    margin-left: 50px;
}


button:hover{
    background-color:rgb(206, 186, 243);
    color: black;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.btn{
    border:none;
    background-color: #7f5aaa;
    &:hover{
        background-color:rgb(206, 186, 243);
    }
}