button{
    color: white;
    background-color: #1a375c;
    margin-left: 50px ;
}
button:hover{
    color: black;
    background-color: rgb(98, 217, 221);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}